@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
*{
    padding: 0;
    margin: 0;
}
body {
    overflow-y: hidden;
}
.body{
    background: url("../img/bg.jpg"); 
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

  
#scoreBox{
    position: absolute;
    top: 9px;
    right: 200px;
    font-size: 5vw;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#HighScoreBox{
    position: absolute;
    top: 59px;
    right: 140px;
    font-size: 5vw;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#board {
    background: linear-gradient(rgb(70, 178, 70), rgb(219, 147, 25));
    border: 2px solid black;
    display: grid;
    width: 90vw; /* Adjust percentage based on your design */
    height: 90vh; /* Adjust percentage based on your design */
    max-width: 600px; /* Set a maximum width to prevent it from becoming too large */
    max-height: 600px; /* Set a maximum height to prevent it from becoming too large */
    margin: auto; /* Center the board both horizontally and vertically */
    aspect-ratio: 1 / 1; /* Ensures the board maintains a square aspect ratio */
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head{
    background: linear-gradient(rgb(115, 26, 115), rgb(255, 255, 255));
    border: 2px solid rgb(34, 4, 34); 
    transform: scale(1.02);
    border-radius: 9px;
}

.snake{
    background-color: rgb(115, 26, 115);
    border: .25vmin solid white;
    border-radius: 12px;
}

.food{
    background: linear-gradient(red, rgb(120, 2, 2));
    border: .25vmin solid black;
    border-radius: 8px;
}
